<?xml version="1.0"?>
<config>
    <db_params>
        <host>localhost</host>
        <db>mvctest_db</db>
        <user>root</user>
        <pass></pass>
        <charset>utf8</charset>
    </db_params>
    <routes>
        <main>
            <controller>MainController</controller>
            <action>itemAction</action>
            <dynamic_values>
                <controller>MainController</controller>
                <action>itemsAction</action>
            </dynamic_values>
        </main>
    </routes>
</config>